/*
	dial
*/
/* line 6, ../../src/scss/useful-dial.scss */
.dial {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}
/* line 12, ../../src/scss/useful-dial.scss */
.dial *, .dial *:before, .dial *:after {
  box-sizing: border-box;
}
/* line 15, ../../src/scss/useful-dial.scss */
.dial img {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  height: auto;
  left: 0;
  top: 0;
  width: 100%;
}
/* line 22, ../../src/scss/useful-dial.scss */
.dial img.dial-active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  position: relative;
  z-index: 20;
}
/* line 27, ../../src/scss/useful-dial.scss */
.dial img.dial-passive {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms;
  position: absolute;
  z-index: 10;
}
/* line 34, ../../src/scss/useful-dial.scss */
.dial .dial-face {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  background-color: #000 \9;
  border: solid 4px #fff;
  bottom: 10px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  height: 128px;
  width: 128px;
  z-index: 30;
}
/* line 46, ../../src/scss/useful-dial.scss */
.dial .dial-face .dial-hand {
  border-radius: 50%;
  background-color: #fff;
  height: 24px;
  left: 50%;
  margin: -12px;
  width: 24px;
  position: absolute;
  top: 0%;
}
/* line 56, ../../src/scss/useful-dial.scss */
.dial .dial-face .dial-hub {
  border-radius: 50%;
  background-color: #fff;
  height: 64px;
  left: 50%;
  margin: -32px;
  position: absolute;
  top: 50%;
  width: 64px;
}
